---
const currentYear = new Date().getFullYear();
const labName = "Department of Chemical Dynamics and Permanent Education";
---

<footer>
  <div class="container">
    <p>&copy; {currentYear}<br>{labName}.<br>All rights reserved.</p>
    <a href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>